.title {
    margin: auto;
    padding-bottom: 10px;
    font-size: 30px;
}


.container {
  display: flex;
  width: 600px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.todo {
  margin-bottom: 15;
}
.input {
  border: none;
  background-color: #ddd;
  margin-bottom: 10;
  padding: 8;
  font-size: 18;
}
.todoName {
  font-size: 20;
  font-weight: bold;
}
.todoDescription {
  margin-bottom: 0;
}
.button {
  background-color: black;
  color: white;
  outline: none;
  font-size: 18;
  padding: 12px 0px;
}
